<div class="container-fluid">
  <button type="button" class="btn btn-success" style="margin-top:20px ;">Thêm
    mới</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID sản phẩm</th>
        <th scope="col">Tên sản phẩm</th>
        <th scope="col">Hình sản phẩm</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p_img of product_image">
        <th>{{p_img.id}}</th>
        <td>{{p_img.product_id}}</td>
        <td style="width: 500px;">{{limitText(p_img.product_name,50)}}</td>
        <td>
          <div class="product-info">
            <img [src]="p_img.image_url" alt="Product Image"
              class="product-image">
          </div>
        </td>
        <td><button type="button" class="btn btn-outline-warning">Cập
            nhật</button></td>
        <td><button type="button"
            class="btn btn-outline-danger">Xoá</button></td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item" *ngIf="currentPage > 1">
          <a class="page-link"
            (click)="onPageChange(1)">First</a>
        </li>
        <li class="page-item" *ngIf="currentPage > 1">
          <a class="page-link"
            (click)="onPageChange(currentPage - 1)">Previous</a>
        </li>
        <ng-container *ngFor="let page of visiblePages">
          <li class="page-item" [ngClass]="{'active': page === currentPage}">
            <a class="page-link"
              (click)="onPageChange(page)">
              {{ page}}
            </a>
          </li>
        </ng-container>
        <li class="page-item" *ngIf="currentPage < totalPages">
          <a class="page-link"
            (click)="onPageChange(currentPage + 1)">Next</a>
        </li>
        <li class="page-item" *ngIf="currentPage < totalPages">
          <a class="page-link"
            (click)="onPageChange(totalPages)">Last</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
