@import '../../../styles/shared-style.scss';

.container-fluid {
  background-color: white;
  padding-left: 0 !important;
  padding-right: 0 !important;
  height: 100vh;
  width: 100%;
}

.page-number {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  margin: 0 2px;
  border-radius: 3px;
}

.page-number.active {
  background-color: $shopapp-color !important;
  color: #fff;
  border-color: $shopapp-color !important;
}
tr{
  text-align: center;
}
.product-info {
  align-items: center;
}

.product-image {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  margin-right: 10px;
}
