<div class="container-fluid">
  <form class="row g-3" [formGroup]="categoryForm">
    <div class="col-md-6">
      <label for="inputCategoryName" class="form-label">Tên Loại Sản
        Phẩm</label>
      <input type="text" class="form-control" id="inputCategoryName"
        formControlName="name"
        name="name"
        [class.is-invalid]="categoryForm.get('name')!.invalid && categoryForm.get('name')!.touched">
      <div
        *ngIf="categoryForm.get('name')!.invalid && categoryForm.get('name')!.touched"
        class="invalid-feedback">
        Không được bỏ trống
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary"
        (click)="handleSubmit()">
        <ng-container *ngIf="formcheck">
          Update
        </ng-container>
        <ng-container *ngIf="!formcheck">
          Add
        </ng-container>
      </button>
    </div>
  </form>
</div>
